.game__container {
    padding-top: 100px;
}

.game__nav {
    color: white;
}

.btn-letter {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30px;
    font-weight: bold;
}

.btn-letter:last-child {
    margin-right: 0;
}